* {
	margin: 0;
    padding: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
    width: 100%;
	min-height: 100vh;
	color:white;
	background-color:rgb(202, 216, 216);
}

 header{
   width: 100%;
   max-width:350px ; 
   margin: 50px auto 5px; 
 } 
header h1{ 
	font-size: 2.5rem ;
	font-weight: 300;
	color: rgb(223, 123, 73);
	margin-bottom: 1rem;
    display: flex;
    
}
header h1 img{
    width:50px;
    margin-left: 2rem; 
}
#new-task-form{
	display: flex;
}
input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}
#new-task-input {
	flex: 1 1 0%;
	background-color: rgb(220, 167, 167);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color:rgb(75, 67, 67);
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color:white;
}

#new-task-submit {
	color: rgb(51, 119, 134);;
	font-size: 1.25rem;
	font-weight: 700;
	background: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}

.main{
    padding: 2rem 2rem;
	max-width: 500px;
    color: aliceblue;
	width: 100%;
	margin: 0 auto;
}

main {
	flex: 1 1 0%;
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
	background-color: aliceblue;
	border-radius: 2rem;
}
/* .task-none{
	display: none;
}
.block {
	display: block;
} */
.task-list {
	padding: 1rem;
    margin-top: 2rem;
	
}
.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color:rgb(223, 123, 73);
	margin-bottom: 1rem;
} 
.flex {
	display: flex;
}
.none {
	display: none;
}
.task {
	justify-content: space-between;
	background-color:rgb(220, 167, 167);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	display: flex;
	flex: 1 1 0%;
}
.task .content input[type="checkbox"] {
	appearance: none;
	width: 20px;
	height: 20px;
	border: 2px solid #ccc;
	border-radius: 4px;
	outline: none;
	cursor: pointer;
  }

.task .content input[type="checkbox"]:checked {
	color:  rgb(80, 161, 179);
	background-color:  rgb(51, 119, 134);;
}
.task .content label{
	display: none;
}
.task .content .text {
	color:white;
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
	margin-left: 2rem;
}

.task .content .text:not(:read-only) {
	color: rgb(6, 6, 6);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}
.task .actions button {
	cursor: pointer;
	margin: 0 0.3rem;
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
    color:  rgb(51, 119, 134);
}

.task .actions button:hover {
	opacity: 0.8;
}
.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background: transparent;
}
.task .actions .delete {
	color: rgb(51, 119, 134);;
} 
.task-footer{
	display: flex;
}
.number-of-task{
	color: rgb(223, 123, 73);
	margin-right: 9rem;
}
.operations button {
	cursor: pointer;
	margin: 0 0.3rem;
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
    color:  rgb(51, 119, 134);;
	
}
